/*External CSS */

.h1{
  margin-block-end: 0;
  margin-block-start:0;
 }
 
 h1{
   margin:0;
 }
 
 ul {
   color: rgb(8, 19, 107);
   padding: 0;
   margin: 0 auto 0 auto;
   font-size: 30px;
   list-style-position: inside;
 }
 
 .background {
   
   background: linear-gradient(180deg,white ,brown ,red ,rgb(152, 133, 12) ,rgb(210, 120, 101));
 }
 
 section {
   background-color: bisque;
 }
 
 .avatar {
   border: 2px solid blue;
   border-radius: 50%;
 }
 
 em {
   float: right;
   text-align: left;
   width: 50%;
 }
 
 .float {
   text-align: center;
   display: inline-block;
   margin-bottom: 20px;
 }
 
 .img {
   width: 80%;
   margin-left: 40px;
 }
 
 .audio {
   display: block;
   text-align: center;
   margin: auto auto 0 auto;
 }
 
 .font:hover {
   font-family: Verdana;
   font-size: 24px;
   color: red;
   box-sizing: border-box;
   object-fit: contain;
 }
 
 .container {
   font-size: 23px;
   padding: 10px;
   margin: 40px auto 40px auto;
   box-sizing: border-box;
   list-style-position: inside;
 }
 
 img {
   max-width: 50%;
 }
 
 a {
   border-radius: 25%;
 }
 