* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
  
body {
  background-color: white;
}
#container {
  background-color: white;
  padding: 20px;
  width: 75%;
  margin: 20px auto 20px auto;
}

#footer {
  width: 100%;
  display: flex;
  float:
}

.text1 {
  text-transform: uppercase;
}


