html {
	font-size: 16px;
	line-height: 1.15;
}

img{
  object-fit: cover !important;
}

body {
	margin: 0;
	background-color: #f5f5f5;
	overflow-y: visible !important;
}

#promotion {
	background-color: #013dbf;
	height: 1350;
}

.picture {
	display: flex;
	width: 100%;
	justify-content: center;
	box-sizing: border-box;
}

.picture img {
	width: 65%;
}
/*PICTURE đầu tiên */

#link-bar {
	box-sizing: border-box	;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 25px;
	transition-duration: 200px;	
	
}

.bar-link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 65%;
	box-sizing: border-box;
	
}

	.sub-bar a {
		color: #9e9e9e;
	}

.sub-bar {
	text-decoration: none;
	font-size: 12px;
	font-family: Roboto-Regular, "Helvetica Neue", Helvetica, Tahoma, Arial,
		Sans-serif;
	background-color: #f5f5f5;
	text-align: right;
	white-space: nowrap;
	box-sizing: border-box;
	margin:auto ;
	padding: auto !important;
}



.differ.sub-bar a {
	color: #0f1568;
}

.sub-bar a:hover {
	color: orange;
}

/* BAR Đầu tiên */
/*Search Bar*/

.menu-search {
	display: flex;
	background-color: white;
	
}

#scroll-bar{
	background-color: #f5f5f5;
	display:block;
	box-sizing: border-box;
	width: 100%;
	position:sticky;
	top:0;
	left:0;
	z-index: 99999;
}

button {
	border: none;
	box-sizing: content-box;
	justify-content: center;
	padding: 0;
	height: 45px;
}

.size {
	visibility: hidden;
	width: 17.5%;
}

#search {
	display: inline-flex;
	white-space: nowrap;
	width: 65%;
	margin: 11px 0 10px 0;
	background-color: white;
	box-sizing: content-box;
}

.logo img {
	height: 40px;
}

input {
	height: 45px !important;
	width: 80%;
}

.search-bar {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.search-bar.xe-hang {
	width: fit-content;
}

.deal {
	width: fit-content;
	padding-left: 6%;
}

/*menu cap con*/

/*menu cap con main */

#main-menu {
	display: flex;
	justify-content: space-between;
}

ul.main-menu-main, ul.child, ul.child-child{
	list-style-type: none;
	padding-inline-start: 0;
	margin-block: 0;
	height: 100%;
	margin: auto;
  box-sizing: border-box;
  padding-top:5px;
  width:100%;
  padding-left:10px;
	line-height: 1.5;
}

a.main-menu-sub{
  overflow: hidden;
}



.main-menu-main {
	position: relative;
	
	
} 
 

.main-menu-main a{
	box-sizing: border-box;
	display:block;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 20px;
}


ul{
  padding-inline: 0;
}

.main-menu-main li{
  
  width:100%;
  display: inline-flex;
	flex-direction: row;
  margin:auto !important;
  padding-inline:0;
	padding-right:10%;
	
}




.arrow{
	width:20%;
	position: relative;
	display:none;
	color: orange;
	float:right;
	box-sizing: inherit;
	font-weight: bolder;
	text-align: end;
}





.child {
	position: absolute;
	top: 0;
	left: 100%;
	display: none;
	height: 30vmin;
	width: 100%;
	box-sizing: content-box;
	max-height: 30vmin;
	background-color: white;
  margin:0;
  padding-inline: 0;
	
}

.main-menu-main li:hover .child{
	display: block ;
  border-left:1px solid gray;
	
}

.main-menu-main li:hover::after {
	content:">";
	white-space:pre;
	color: orange;
}

.child-child {
	position: absolute;
	top: 0;
	left: 100%;
  margin:0;
	display: none;
	height: 30vmin;
	width: 100%;
	box-sizing: content-box;
	max-height: 30vmin;
	background-color: white;
  padding-inline:0;

}

.child li:hover .child-child {
	display: block;
  border-left:1px solid gray;
	
}

.child li:hover::after {
	content:">";
	white-space:pre;
	color: orange;
}

.child-child li::after, .no-arrow::after{
	content: none !important;
}


.adv {
	display: block;
	box-sizing: border-box;
	width:100%;
}

div.content {
	display: inline-flex;
	box-sizing: border-box;
	max-height: 30vmin;
	width: 65%;
  border-top:1px solid gray;
	font-size: 0.82vw;

}

.menulv3 {
	background-color: white;
	width: 15%;
	box-sizing: border-box;
  line-height: 21px;
	color: #757575;
}

.menulv3 a {
	color: #757575;
}

.menulv3 a:visited {
	color: #757575 !important;
}

.menulv3 a:hover {
	color: orange !important;
}

.color {
	background-color: brown !important;
	visibility: visible !important;
}

a {
	text-decoration: none !important;
}

.footer {
	width: 100%;
	display: inline-flex;
	box-sizing: border-box;
}

.footer-first {
	max-width: 65%;
	display: flex;
	justify-content: space-between;
}

.footer-first a {
	width: 30%;
	box-sizing: border-box;
}

.footer2 {
	width: 100%;
	display: inline-flex;
}

.column-text {
	width: 32.5%;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
}

p {
	width: fit-content;
}

.column-img {
	width: 32.5%;
	display: inline-flex;
}

.column-text div {
	width: 50%;
	font-size: 12px;
	color: #0f136d;
	font-family: Roboto-Regular, "Helvetica Neue", Helvetica, Tahoma, Arial,
		Sans-serif;
}

.column-img div:first-child {
	display: inline-flex;
	width: 50%;
}

.column-img li {
	font-weight: 200;
	margin: 0 16px 0 16px;
	line-height: 16px;
	padding-top: 2px;
	white-space: nowrap;
}

.column-img div:last-child {
	padding-left: 20px;
}

/* payment img */

section:nth-last-of-type(3) {
	display: inline-flex;
	background-color: white;
	flex-direction: row;
	width: 100%;
	font-family: Roboto-Regular, "Helvetica Neue", Helvetica, Tahoma, Arial,
		Sans-serif;
}

.payment {
	width: 32.5%;
	display: block;
}

.payment img {
	width: 10%;
	visibility: visible !important;
	margin: 0 3% 3% 0;
}

a {
	text-decoration: none !important;
}

/* footer-1st */

.footer {
	width: 100%;
	display: inline-flex;
	box-sizing: border-box;
}

.footer-first {
	max-width: 65%;
	display: flex;
	justify-content: space-between;
}

.footer-first a {
	width: 30%;
	box-sizing: border-box;
}

/* footer 2 */

.footer2 {
	width: 100%;
	display: inline-flex;
}

.column-text {
	width: 32.5%;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.column-text a,
.column-text a:hover {
	color: #0f136d;
}

.column-text a:hover {
	text-decoration: underline #013dbf solid !important ;
}

p {
	width: fit-content;
	margin: 0 3% 3% 0;
}

h4 {
	text-transform: capitalize;
	font-weight: normal;
	font-size: 16px;
}

.delivery-services {
	width: 16.25%;
	display: block !important;
	white-space: wrap;
}

.delivery-services img {
	width: 30%;
	height: 15%;
	margin: 0 3% 1% 0;
}

.delivery-services img:first-of-type {
	width: 90%;
}

.delivery-services img:nth-of-type(6) {
	width: 55%;
	height: 15%;
}

.delivery-services img:last-of-type {
	width: 70%;
}

section:nth-last-of-type(3) div:nth-of-type(4) {
	display: grid;
	grid-template-columns: max(50%) max(50%);
	width: 16.25%;
	min-height: fit-content;
}

section:nth-last-of-type(3) div:nth-of-type(4) article:first-of-type {
	grid-column: 1/ 2;
}

section:nth-last-of-type(3) div:nth-of-type(4) article:first-of-type img {
	width: 80%;
	margin: 0 10% 8% 0;
}

section:nth-last-of-type(3) div:nth-of-type(4) article:last-of-type img {
	width: 90%;
	margin: 0 10% 8% 0;
}

.channel {
	display: block;
}

.section-last-type-2 {
	display: inline-flex;
	width: 100%;
	color: #888;
	margin-bottom: 50px;
	padding: 5% 0 0 0;
}

.section-last-type-2 div:nth-child(2),
.section-last-type-2 div:nth-child(3) {
	width: 32.5%;

	overflow: hidden;
	display: inline-flex;
	flex-direction: row;
	font-size: 12px;
}
.section-last-type-2 div:nth-child(2) article,
.section-last-type-2 div:nth-child(2),
.section-last-type-2 div:nth-last-child(2),
.section-last-type-2 div:nth-last-child(3) {
	max-width: 50%;
	width: 50% !important;
	padding-right: 20px;
}

.section-last-type-2 div:nth-child(2) article p {
	padding: 40px 20px 20px 10px;
}

section:last-child img {
	width: 34px;
	height: 34px;
	border: solid 0.1px blue;
	border-radius: 50%;
}

section:last-child {
	background-color: white !important;
	width: 100%;
}

.last-footer {
	display: flex;
	width: 65%;
	align-items: center;
	justify-content: space-between;
	box-sizing: content-box;
	margin: 30px 17.5% 0 17.5%;
	padding: 0;
	height: 15vmin;
}

h2 {
	color: #2a2a2a;
	font-size: 16px;
	font-weight: normal;
	margin-block-end: 0.5em;
	margin-block-start: 0;
}
